 <div class="user-details">
  <h1> About me </h1>
 </div>
  <p>
    Currently working as an DevOps Engineer at <a href="https://www.stratio.com/" target="_blank">Stratio BD</a>.
   </p>
  <p>
   Previously working as a research assistant in blockchain and distributed technologies at the Complutense University of Madrid.
     He has developed smart contracts such as the funding platform <a href="https://github.com/EthereumUCM/Betfunding" target="_blank">Betfunding</a> and currently working on a decentralized science publication system using blockchain:
    <a href="https://decentralized.science" target="_blank"><strong>decentralized.science</strong></a>.
  </p>
  <p>
   His interests are <strong>cryptocurrencies</strong>, <strong>blockchain</strong>, <strong>decentralized apps</strong> and <strong>open source software</strong>.
  </p>


