 <div class="user-details">
  <h1> About me </h1>
 </div>
  <p>
    Graduate in software engineering and masters stutudent.
  </p>
  <p>
    Currently working as a research assistant in blockchain and distributed technologies.
     He has developed smart contracts such as the funding platform <a href="https://github.com/EthereumUCM/Betfunding" target="_blank">Betfunding</a> and currently working on a decentralized science publication system using blockchain:
    <a href="https://decentralized.science" target="_blank"><strong>decentralized.science</strong></a>.
  </p>
  <p>
    He is willing to end his master’s degree and begin working on his Ph.D.
  </p>
  <p>
   His interests are <strong>cryptocurrencies</strong>, <strong>blockchain</strong>, <strong>decentralized apps</strong> and <strong>open source software</strong>.
  </p>


