 <div class="user-details">
  <h1> About me </h1>
  <p>
    Graduate in software engineering and masters stutudent.
  </p>
  <p>
    Currently working as a research assistant in blockchain and distributed technologies.
     He has developed smart contracts such as the funding platform Betfunding and currently working on a decentralized science publication system using blockchain.
  </p>
  <p>
    He is willing to end his master’s degree and begin working on his Ph.D.
  </p>
  <p>
   His interests are cryptocurrencies, blockchain, decentralized apps and open source software.
  </p>
</div>

