<div class="user-details">
  <h1> Publications </h1>
</div>
<div class="user-projects">
  <div class="contents">
    <h3>Desarrollo de una plataforma de crowdfunding distribuida sobre Ethereum</h3>
    <p><i>Viktor Jacynycz and Adrian Calvo</i></p>
    <p>Betfunding es una plataforma de crowdfunding distribuida que usa apuestas en lugar de donaciones para promover la producción artística y el trabajo creativo.</p>
    <a class="project-link" href="http://eprints.ucm.es/32887/">View paper</a>
  </div>
</div>

<div class="user-projects">
  <div class="contents">
    <h3>Betfunding: A Distributed Bounty-Based Crowdfunding Platform over Ethereum</h3>
    <p><i>Viktor Jacynycz, Adrian Calvo, Samer Hassan and Antonio A. Sánchez-Ruiz</i></p>
    <p>Blockchain, the technology behind Bitcoin, is a permissionless distributed database which allows distributed storage and computation over a large network of nodes. This technology has been applied recently to many other fields besides e-currencies (Bitcoin 2.0 projects). In this paper we present Betfunding: a blockchain-based decentralized crowdfunding platform. On the contrary of regular crowdfunding platforms, our system does not require a central and reliable organization. In Betfutding users bet whether the project will or will not be implemented in a given time frame, increasing the bounty and incentive for potential developers to carry it out.</p>
    <a class="project-link" href="https://link.springer.com/chapter/10.1007/978-3-319-40162-1_44">View paper</a>
  </div>
</div>

<div class="user-projects">
  <div class="contents">
    <h3>A Decentralized Publication System for Open Science using Blockchain and IPFS</h3>
    <p><i>Antonio Tenorio-Fornés, Viktor Jacynycz, David Llop, Antonio A. Sánchez-Ruiz and Samer Hassan</i></p>
    <p>Science publication and peer review raises concerns about fairness, quality, performance,
      cost or accuracy. The Open Access movements has been unable to fulfill all its
      promises, and middlemen publishers can still impose policies and concentrate profits. This
      paper, using emerging distributed technologies such as Blockchain and IPFS, proposes a
      decentralized publication system for open science. It provides transparent governance, a
      distributed reviewer reputation system, and open access by-design. The paper concludes
      reviewing the open challenges of such approach.</p>
    <a class="project-link" href="http://eprints.ucm.es/32887/">View paper</a>
  </div>
</div>
